@model FestiSpec.Domain.Model.Vragenlijst

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vragenlijst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Versie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Versie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opmerking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opmerking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Is_Ingevuld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Is_Ingevuld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Template1.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Template1.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
