@model FestiSpec.Domain.Model.Vragenlijst

@{
    ViewBag.Title = "Details";
}

<h2>
    @Model.Titel
</h2>

<div>
    <h4>Vragenlijst</h4>
    <hr />
    <form action="" method="post">
        @foreach (var vraag in Model.Meerkeuzevraag_vragenlijst)
        {
            <div>
                <label>
                    @vraag.Meerkeuzevraag.Vraag
                </label>
                <span>
                    Show meerkeuze
                </span>
            </div>
        }

        @foreach (var vraag in Model.Openvraag_vragenlijst)
        {
            <div>
                <label>
                    @vraag.Openvraag.Vraag
                </label>
                <input type="text" name="@vraag.Openvraag.ID" />
            </div>
        }

        @foreach (var vraag in Model.Bijlagevraag_vragenlijst)
        {
            <div>
                <label>
                    @vraag.Bijlagevraag.Vraag
                </label>
                <span>
                    Show bijlage
                </span>
            </div>
        }

        @foreach (var vraag in Model.Kaartvraag_vragenlijst)
        {
            <div>
                <label>
                    @vraag.Kaartvraag.Vraag
                </label>
                <span>
                    Show kaart
                </span>
            </div>
        }

        @foreach (var vraag in Model.Tabelvraag_vragenlijst)
        {
            <div>
                <label>
                    @vraag.Tabelvraag.Vraag
                </label>
                <span>
                    Show tabel
                </span>
            </div>
        }

        <input type="submit" value="Verstuur" />
    </form>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
