@model FestiSpec.Domain.Model.Beschikbaarheid

<h2>Details</h2>

<div>
    <h4>Beschikbaarheid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inspecteur.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inspecteur.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
